
<div class="container">
    <div class="row">
        <div class="col-md-8">
                <mat-card>
                        <mat-card-subtitle>Title..</mat-card-subtitle>
                        <img mat-card-image class="brand-img" src="../../assets/img-2.jpeg" alt="">
                        <mat-card-footer>
                            <mat-chip-list>
                                <mat-chip>category</mat-chip>
                                <mat-chip>category</mat-chip>
                            </mat-chip-list>
                        </mat-card-footer>
                </mat-card>
        </div>
        <div class="col-md-4">
                <mat-card>
                        <mat-card-subtitle>Title..</mat-card-subtitle>
                        <img mat-card-image src="../../assets/img3.jpg" alt="">
                        <mat-card-footer>
                            <mat-chip-list>
                                <mat-chip>category</mat-chip>
                                <mat-chip>category</mat-chip>
                            </mat-chip-list>
                        </mat-card-footer>
                </mat-card>
                <mat-card class="mt-2">
                        <mat-card-subtitle>Title..</mat-card-subtitle>
                        <img mat-card-image src="../../assets/img1.jpg" alt="">
                        <mat-card-footer>
                            <mat-chip-list>
                                <mat-chip>category</mat-chip>
                                <mat-chip>category</mat-chip>
                            </mat-chip-list>
                        </mat-card-footer>
                </mat-card>
        </div>
    </div>
</div>
